nav {
  background-color: #333;
  margin: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
}

/* Style the icons */
.nav-icon {
  margin-right: 5px;
}
.transactions-container {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.transactions-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.transactions-input {
  margin-bottom: 10px;
  height: 50px;
  width: 320px;
  font-size: larger;
}

.transactions-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.transactions-button:hover {
  background-color: #0056b3;
}
.wallet-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.wallet-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.wallet-info {
  margin-bottom: 10px;
}

.wallet-info p {
  margin-bottom: 5px;
}

.wallet-info i {
  margin-right: 5px;
}
