.todo-container {
  margin-top: 20px;
  padding: 10px;
}

.todo-input {
  margin-bottom: 10px;
  height: 40px;
  width: 20rem;
}
.input button {
  background-color: rgb(22, 22, 222);
  margin: 10px;
  color: whitesmoke;
}
.input button:hover {
  cursor: pointer;
  background-color: rgb(88, 88, 250);
}
.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.todo-description {
  flex: 1;
}

.todo-status {
  margin-right: 10px;
}

.todo-select {
  margin-right: 10px;
}

.todo-remove {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.todo-list {
  margin: 10px;
  padding: 20px;
}
